@use "../src/index" as shapla;

@include shapla.css-var-colors;
@media (prefers-color-scheme: dark) {
  @include shapla.dark-theme-css-var();
}

// Utility
@include shapla.minireset;
@include shapla.sr-only;

@include shapla.spinner;
@include shapla.spinner-dark-theme;
@include shapla.delete-icon;
@include shapla.notification;
@include shapla.modal;

:root {
  color-scheme: light dark;
}

html, body {
  background: shapla.$background;
  min-width: 100vw;
  min-height: 100vh;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}